.user__post{
    .post{
        &__list{
            margin-top:1rem;

            display: grid;
            grid-template-columns: repeat(4,1fr);
            grid-gap:2rem;

            @media only screen and (max-width: 37.5em) { 
                // < 600px
                grid-template-columns: repeat(2,1fr);
                grid-gap:2rem;

            };        
        }
        &__item{
            position: relative;
            height:12rem;
            animation: moveToBottom linear 0.2s alternate;

        }
        &__img{
            width: 100%;
            height:100%;
            border-radius:0.3rem;
            box-shadow: 0 0 2px rgba(#000,.3);

            image-rendering: pixelated;
            object-fit: cover;
            object-position: center;
        }
        &__action{
            position: absolute;
            top:1rem;
            right:1rem;
            width: 3rem;
            background-color: rgba(#000,.5);
            text-align: center;
            padding-top:0.5rem;
        }
        &__icon{
            display: inline-block;
            cursor: pointer;
            width: 2rem;
            height:2rem;
            filter:invert(1);

            &:hover{
            filter:invert(0.7);
            }
        }
    }
}