.header__notification{
    position: relative;
    &:hover .notification__box{
        display:inline-block
    }
}
.notification{
    &__box{
        display: none;

        width: 35rem;
        height: auto;
        padding:2rem 1rem;
        background-color: #fff;
        border-radius: 0.5rem;
        box-shadow: 0 0 0.5rem rgb(0 0 0 / 20%);
        position: absolute;
        top:5rem;
        right: -8rem;  

        @media only screen and (max-width: 37.5em) {
            width: 100vw;
            height: calc(100vh - 5rem);
        };
        
        

      
        &::before{
            content: '';
            display: inline-block;
            position: absolute;
            top:-2rem;
            right:9rem;
            width: 2rem;
            height:2rem;
            filter: drop-shadow(-1px -1px 1px rgb(0 0 0 / 20%));


            border-top: 1rem solid transparent;
            border-left: 1rem solid transparent;
            border-right: 1rem solid transparent;
            border-bottom: 1rem solid #fff;
        }

    }
    &__heading{
        padding-left: 1rem;

        @media only screen and (max-width: 37.5em) {
            text-align: center;
        };
    }
    
    &__list{
        height: 40rem;
        margin-bottom:1rem;
        overflow: auto;
        @media only screen and (max-width: 37.5em) {
            height: calc(100vh - 20rem);
        };
        
    }

    &__item{
        margin-bottom:1rem;
        margin-right:1rem;
        padding:1rem;
        border-radius: 0.5rem;
        animation: moveToBottom linear 0.2s alternate;
        
        &:hover{
            background-color: var(--color-grey-light);
        }
    }
    &__text{
        display:flex;
        align-items: center;
        justify-content: space-between;
        p{
            flex:1;
        }
    }
    &__status{
        display: inline-block;
        width:1.5rem;
        height:1.5rem;
        margin-left:0.5rem;
        border-radius: 100%;
        cursor: pointer;
        background-color: var(--color-secondary);
    }
    &__timeline{
        font-size: 1.3rem;
        color:var(--color-secondary);
    }
}