.admin{
    .category{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        &__table{
            border-collapse: collapse;
            padding: 1rem;
            width:35rem;
            
            th{
                background-color: var(--color-primary-light);
                text-align: center;
            }
            td, th {
                border: 1px solid #dddddd;
                padding: 8px;
            }
            td:nth-child(2){
                text-align: center;
            }
        }
        &__form{
            width:35rem;
            display: flex;
            justify-content: space-between;
            margin-bottom: 2rem;
            input{
                min-width:28rem;
            }
        }
    }
}