.product{
    margin-top:2rem;
    &__filter{
        width: 20rem;
        padding:2rem;
        background-color: #fff;
        border-radius: 5px;
    }
    
    &__main{
        flex:1;
        padding:2rem;
        background-color: #fff;
        border-radius: 5px;
        margin-left: 2rem;
    box-shadow: 0 0 0.2rem rgb(#000,0.2);

    }
    &__sort-search{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    &__list{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap:2rem;
       
        @media only screen and (max-width: 37.5em) { 
            // < 600px
            grid-template-columns: repeat(2,1fr);
            grid-gap:2rem;

        };        
    }
    
    &__page {
        margin-top: 3rem;
        margin-bottom: 2rem;
        & ul{
            justify-content: center;
        }
    }
}