.product{
    position: relative;
    &__filter{
        width: 20rem;
        padding:2rem;
        margin-right: 2rem;
        background-color: #fff;
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        z-index:100;
        
        //responsive
        @media only screen and (max-width: 37.5em) { 
            position: fixed;
            top:5rem;
            left:-21rem;
            transition: all 0.2s;
     
            overflow-y:auto;
            overflow-x: hidden;
            height: calc(100vh - 5rem);
        };
    }
    
    //responsive
    #filter-btn{
        display: none;
        transition: all 0.2s;
        @media only screen and (max-width: 37.5em) { 
            display: inline-block;
            z-index: 1000;
            position: fixed;
            top:6rem;
            left:1rem;
        };
    }
    #filter-toggle{
        display: none;
        &:checked ~ .product__filter{
            left:0;
        }
        &:checked ~ #filter-btn{
            left:16rem;
        }
    }
    
    &__main{
        flex:1;
        padding:2rem;
        background-color: #fff;
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        box-shadow: 0 0 0.2rem rgb(#000,0.2);
    }

    &__sort-search{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        
        @media only screen and (max-width: 56.25em) { 
            flex-direction: column-reverse;
            border-bottom: 1px solid rgb(211, 204, 204);
        }; 
    }
    &__sort{
        border-bottom: 1px solid rgb(211, 204, 204);
        @media only screen and (max-width: 56.25em) { 
            border-bottom: none;
        }; 
    }
 

    &__list{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap:2rem;

        @media only screen and (max-width: 56.25em) { 
            //900px
            grid-template-columns: repeat(3,1fr);
            grid-gap:2rem;
        };    

        @media only screen and (max-width: 37.5em) { 
            // < 600px
            grid-template-columns: repeat(2,1fr);
            grid-gap:2rem;
        };       

    }
    
    &__page {
        margin-top: 3rem;
        margin-bottom: 2rem;
        & ul{
            justify-content: center;
        }
    }
}