// COLORS
// $color-primary: #FFBD71;
// $color-primary-light: #FFDCA2;
// $color-primary-dark: #FD8f52;

// $color-secondary-light: #7ed56f;
// $color-secondary-dark: #28b485;

// $color-tertiary-light: #2998ff;
// $color-tertiary-dark: #5643fa;

// $color-grey-light-1: #f7f7f7;
// $color-grey-light-2: #eee;

// $color-grey-dark: #777;
// $color-grey-dark-2: #999;
// $color-grey-dark-3: #333;

// $color-white: #fff;
// $color-black: #000;

:root{
    --color-primary: #e7a452;
    --color-primary-light: #beb57c;
    --color-primary-dark: #a3780c;
    
    --color-secondary: #1976D2;
    --color-secondary-light: #2196F3;
    
    // --color-tertiary-light: #5664de;
    // --color-tertiary-dark: #1d28bb;

    --color-grey-light: #F7F7F7;
    --color-grey-dark: #555;

    --color-white: #fff;
    --color-black: #000;
    
    // FONT
    --default-font-size: 1.6rem;
}


