// COLORS
// $color-primary: #FFBD71;
// $color-primary-light: #FFDCA2;
// $color-primary-dark: #FD8f52;

// $color-secondary-light: #7ed56f;
// $color-secondary-dark: #28b485;

// $color-tertiary-light: #2998ff;
// $color-tertiary-dark: #5643fa;

// $color-grey-light-1: #f7f7f7;
// $color-grey-light-2: #eee;

// $color-grey-dark: #777;
// $color-grey-dark-2: #999;
// $color-grey-dark-3: #333;

// $color-white: #fff;
// $color-black: #000;

:root{
    --color-primary: #e7a452;
    --color-primary-light: #8b834c;
    --color-primary-dark: #8a6f2d;
    
    --color-secondary-dark: #178017;
    --color-secondary-light: #639b57;
    
    --color-tertiary-light: #5664de;
    --color-tertiary-dark: #1d28bb;

    --color-grey-light-1: #f7f7f7;
    --color-grey-light-2: #eee;

    --color-grey-dark: #333;
    --color-grey-dark-1: #777;

    --color-white: #fff;
    --color-black: #000;
    
    // FONT
    --default-font-size: 1.6rem;
}


