.navbar{
    border-top: 1px solid rgb(186, 185, 185) ;
    padding-top:2rem;
    margin:0 3rem;
    a{  
        padding:0.5rem 1.5rem;
        text-transform:capitalize;
        font-size: 1.5rem;
        font-weight: 500;
        display: inline-block;
        transition: all 0.2s;
        // border-radius: 0.5rem;

        &:hover{
            background-color: var(--color-grey-light);
        }
    }
    .active{
        background-color: var(--color-grey-light);
        border-bottom: 2px solid var(--color-primary-light);
    }
}