.navbar{
    border-top: 1px solid rgb(220, 220, 220) ;
    padding-top:1rem;
    margin:0 6rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    a{  
        padding:0.5rem 1.5rem;
        text-transform:capitalize;
        font-size: 1.5rem;
        font-weight: 500;
        display: inline-block;
        transition: all 0.2s;
        border-bottom: 2px solid transparent;

        &:hover{
            background-color: var(--color-grey-light);
        }
    }
    .active{
        background-color: var(--color-grey-light);
        border-bottom: 2px solid var(--color-primary-light);
    }
}