.guess{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top:1rem;
    @media only screen and (max-width: 37.5em) { 
        flex-direction: column;
    };
    
    &__about{
        width: 25rem;
        background-color: #fff;
        padding:1rem;
        border-radius: 0.5rem;
        box-shadow: 0 0 0.2rem rgb(#000,0.2);
        overflow-x: auto;

        @media only screen and (max-width: 37.5em) { 
            width: 100%;
        };

        .about__item{
            margin-top:2rem;
            display: flex;
            align-items:center;
            line-height: 2rem;

            span{
                margin-left: 0.5rem;
            }
        }
    }
    &__post{
        flex:1;
        margin-left: 1rem;
        padding:1rem;
        
        border-radius: 0.5rem;
        box-shadow: 0 0 0.2rem rgb(#000,0.2);

        @media only screen and (max-width: 37.5em) { 
            margin-left: 0;
            margin-top: 1rem;
        };
    }
}