.user{
    &__header{
        background-color: #fff;
        padding:0 16rem;
        margin: 0 -4rem;
        box-shadow: 0 0.1rem 0.2rem rgba(#000,0.1);
    }
    // ảnh lớn
    &__img-cover{
        height: 35rem;
        cursor: pointer;
        position: relative;

        &::after{
            content:'';
            position: absolute;
            top:0;
            left: 0;
            display:inline-block;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(to top, #000,transparent 20%);
            opacity: 0.6;
            z-index:10;
            border-bottom-left-radius: 0.5rem;
            border-bottom-right-radius: 0.5rem;
        }

        .img-cover{
            image-rendering: pixelated;
            object-fit: cover;
            object-position: center;

            width: 100%;
            height: 100%;
            border-bottom-left-radius: 0.5rem;
            border-bottom-right-radius: 0.5rem;
        }
        button{
            position: absolute;
            bottom: 2rem;
            right:2rem;
            color:#000;
            display:flex;
            align-items: center;
            justify-content: space-around;
            z-index:100;

            .svg-icon{
                margin-right: 0.5rem;
            }
        }
    }
    //
    &__details{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding-bottom:2rem;
        label{
            position: relative;
        }
        .icon--avatar{
            display: inline-block;
            width: 3.5rem;
            height: 3.5rem;
            padding:0.6rem;
            background-color: #D8DADF;
            border-radius: 100%;
            position: absolute;
            bottom:2rem;
            right:1rem;
            cursor: pointer;
        }
    }
    #avatar{
        display: none;
    }
    &__avatar{
        width: 17rem;
        height:17rem;
        border-radius:100%;
        margin-top:-4rem;
        margin-left: 6rem;
        outline: 0.5rem solid #fff;
        cursor: pointer;
        z-index: 100;

        &:hover{
            filter: brightness(0.9)
        }
    }

    &__name{
        margin-left: 1rem;
    }
    &__action{
        margin-right:6rem;
        margin-left:auto;
        button{
            display:flex;
            align-items: center;
        }
        .svg-icon{
            filter:invert(1);
            margin-right: 0.5rem;
        }
    }
}