.admin{
    position: relative;

    &__main{
        margin-left: 20rem;
        padding:2rem 1rem;
        background-color: #fff;
        box-shadow: 0 0 0.2rem rgba(#000,0.1);
        min-height: calc(100vh - 14rem);    
    }
}