.user__form{
    text-align: center;
    padding:2rem;
}
.form__group{
    margin-bottom: 1.5rem;
    
    label{
        cursor: pointer;
        display: inline-block;
        min-width: 10rem;
        text-align: left;
    }
    input{
        width: 20rem;
        font-weight: 400;
        font-family: "Josefin Sans", sans-serif;
        color:var(--color-grey-dark);
        padding:1rem;
        outline: none;
        border: 1px solid rgb(179, 176, 176);
        border-radius: 5px;
        background-color: transparent;

        &:hover{
            border: 1px solid #000;
        }
    }
    
}
// .form__avatar {

//     &:hover label::after{
//         display: inline-block;
//     }

//     label{
//         margin-top:-5rem;
//         margin-right:3rem;

//         display: inline-block;
//         height: 20rem;
//         position: relative;

//         &::after{
//             display: none;
//             content: 'Thay đổi';
//             background-color: rgba(#000,0.7);
//             color:#fff;
//             padding:0.2rem 0.4rem;

//             position :absolute;
//             top:50%;
//             left: 50%;
//             transform: translate(-50%,-50%);
//             font-size: 1.2rem;
//             border-radius: 3px;
//             cursor: pointer;
//         }
//     }
// }
// .avatar{
//     width: 18rem;
//     height:20rem;
//     box-shadow: 0 0.2rem 0.5rem rgba(#000,0.4);
//     cursor: pointer;
//     border-radius: 0.5rem;
// }

// #avatar{
//     display: none;
// }