.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 5rem;

    &__logo{
            height: 5rem;
            padding-top: 1rem;
            margin-left: 1rem;
    }
    &__nav{
        display: flex;
        flex-direction: row;
    }
    &__link{
        &:link,
        &:visited {
            font-size: var(--default-font-size);
            color: var(--color-primary);
            display: inline-block;
            text-decoration: none;
            padding: 1.3rem 1rem;
            transition: all .2s;

            height: 5rem;
            display: flex;
            flex-direction: row;
            align-items: center;
        } 
    
    }
    .active{
        background-color: var(--color-white);
    }

    &__icon{
        width: 3rem;
        height: 3rem;
    }

    &__avatar{
        border-radius: 100%;
        margin-right: 0.2rem;

    }

}
