.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0.2rem 0.4rem rgba(#000,0.1);

    position:fixed;
    top:0;
    left: 0;
    z-index: 1000;

    &__logo{
        height: 5rem;
        padding: 0.2rem;
        margin-left: 4rem;
        margin-right: 0.5rem;
    }
    &__nav{
        display: flex;
        flex-direction: row;
    }
    &__link{
        &:link,
        &:visited {
            text-decoration: none;
            padding: 1rem;
            transition: all .2s;
            border-radius: 100%;

            display: flex;
            flex-direction: row;
        } 
    }
    &__link--avatar{
        padding: 1rem;
        transition: all .2s;
        border-radius: 100%;
        display: flex;
        flex-direction: row;

    }

    .active .header__avatar{
        outline: 1px solid var(--color-primary-light) ;
    }
    .active .header__icon{
        filter: invert(0.5) sepia(1);
    }
    
    &__icon{
        filter: invert(0.2);
        width: 2.5rem;
        height:2.5rem;
    }

    &__avatar{
        border-radius: 100%;
        width: 2.5rem;
        height:2.5rem;
    }

    //số thông báo chưa đọc
    &__count{
        position: absolute;
        top:0.2rem;
        right:0.6rem;
        
        height: 2rem;
        width: 2rem;
        background-color: red;
        color:#fff;
        font-size: 1.4rem;
        font-weight: 300;
        padding:0.2rem;
        text-align: center;
        line-height: 1.8rem;
        vertical-align: bottom;
        border-radius: 100%;
    }

}
