.form{
    display: flex;
    flex-direction: row;

    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 0.2rem 0.4rem rgba(#000, 0.2 );
    overflow: hidden;       

    position: absolute;
    top:50%;
    left: 50%;
    
    animation: formMoveInLeft 1s cubic-bezier(0.34, 1.56, 0.64, 1);
    animation-fill-mode: forwards; // giữ vị trí khi hoàn tất

    @media only screen and (max-width: 37.5em) { 
        transform: translate(-50%, -50%);
        animation:none
    };

    &__heading{
        width: 20rem;
        color:#000;
        background-size:cover;
        background-position:center;
        background-image: url('../../../../images/Welcome.png');
        
        display: flex;
        flex-direction: row;
        align-items: center;
        
        @media only screen and (max-width: 37.5em) { 
           display: none;
        };
    }
    &__content{
        width: 35rem;
        padding:2rem 4rem;
        display:flex;
        flex-direction: column;
    }
    &__input{
        font-size: 1.6rem;
        font-weight: 400;
        font-family: "Josefin Sans", sans-serif;
        outline: none;
        border: none;
        border-bottom:1px solid rgb(100, 100, 100);
        color:var(--color-grey-dark);
        padding: 1.5rem 0;
        margin-bottom:1rem;
    }
    .btn--register{
        margin: 1rem 0;
    }
}

