.admin{
    .nav{
        &__list{
            list-style: none;
        }
        &__item{
            padding-bottom: 1rem;
            .active{
                background-image: linear-gradient(to right, var(--color-primary) 0.5rem,var(--color-white) 0.5rem 100%);
                .nav__icon{
                    filter: invert(0.2);
                }
            }     
        }
        &__link{
            &:link,
            &:visited {
                color: var(--color-primary);
                text-decoration: none;
                padding: 0.5rem 1rem;
                transition: all .2s;

                display:flex;
            }
        }
        &__icon{
            margin-right:0.5rem;  
            width: 3rem;
            height: 3rem;
            filter: invert(1);
        }
    }
    
}