.product{
    .images{
        margin-top:2rem;
        width: 40rem;
        min-height:calc(100vh - 10rem);
        box-shadow: 0 0 0.2rem rgb(#000,0.1);
        background-color: #fff;
        border-bottom-left-radius: 0.5rem;
        @media only screen and (max-width: 37.5em) { 
            // < 600px
            width: 100%;
        }; 
        .image__item{
            width: 100%;
            height:calc(100vh - 14rem);
        }   
    }
    
    .details{
        flex:1;
        margin-top:2rem;
        box-shadow: 0 0 0.2rem rgb(#000,0.1);
        background-color: #fff;
        border-bottom-right-radius: 0.5rem;

        @media only screen and (max-width: 37.5em) { 
            margin-top: 4rem;
            min-height:calc(100vh - 14rem);
        }; 
    }
}