.btn {
    &,
    &:link,
    &:visited {
        text-align: center;
        text-transform:capitalize;
        text-decoration: none;
        display: inline-block;
        transition: all .2s;
        position: relative;
        font-size: var(--default-font-size);
        font-weight: 500;
        letter-spacing: 0.1rem;
        padding: 1rem 2rem;
        border-radius: 0.5rem;
        
        //Change for the <button> element
        border: none;
        cursor: pointer;
    }
      
    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
    &--animated {
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
    }
    
    &:hover {
        transform: translateY(-1px);
        box-shadow: 0 0.2rem 0.4rem rgba(#000,.2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    
    &:active
    {
        outline: none;
        box-shadow: 0 .2rem 0.4rem rgba(#000,.2);
        transform: translateY(-1px);
    }
    &:focus {
        outline: none;
    }

    &--small{
        padding:0.8rem 1rem;
        font-size: 1.2rem;
    }
    
    &--primary {
        background-color: var(--color-primary);
        color: var(--color-white);
    }
    &--secondary {
        background-color: var(--color-secondary);
        color: var(--color-white);
    }
    &--success {
        background-color: #04AA6D;
        color: var(--color-white);
    }
    &--delete {
        background-color:#f44336;
        color: var(--color-white);
    }

    &--white {
        background-color:#fff;
        color: var(--color-grey-dark);
        &::after {
            background-color: #fff;
        }
    }

    &--grey {
        background-color:#D8DADF;
        color: var(--color-grey-dark);
    }

}
