.user__info{
    form{
    }
    &  div{
        text-align: center;
    }
    .avatar{
        width: 12rem;
        height:12rem;
        box-shadow: 0 0.2rem 0.5rem rgba(#000,0.4);
        // border-radius: 100%;

    }
    #avatar{
        display: none;
    }

    .form__group{
        margin-bottom: 1.5rem;
        label{
            font-size: 1.2rem;
            cursor: pointer;
            display: inline-block;
            min-width: 10rem;
            text-align: left;
        }
        input{
            width: 20rem;
            font-size: 1.2rem;
            font-weight: 300;
            font-family: "Josefin Sans", sans-serif;
            padding:1rem;
            outline: none;
            border: 1px solid rgb(179, 176, 176);
            border-radius: 5px;
            &:hover{
                border: 1px solid #000;
            }
        }
        
    }
}