.App{
    position: relative;
    min-height: 100vh;
    background-color: var(--color-grey-light);
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main{
    flex: 1;
    margin-top: 5rem;
    padding:0 4rem 2rem 4rem;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--color-primary-dark);
}

.svg-icon{
    width: 2rem;
    height: 2rem;
}

@keyframes moveToBottom{
    0%{
        opacity: 0.5;
        transform: translateY(-10px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
