.user{
    &__main{
        padding:0 18rem;
    }
    &__me{
        margin-top:1rem;
        background-color: #fff;
        padding:2rem;
        min-height: 40rem;
        border-radius: 0.5rem;
        box-shadow: 0 0 0.2rem rgb(#000,0.2);
    }
}